interface IConfig {
  posteIOBaseURL: string;
  posteIOUsername: string;
  posteIOPassword: string;
  domains: string[];
  imapServer: string;
  imapPort: string;
  smtpServer: string;
  smtpPort: string;
  port: number;
  mongoURI: string;
}

export const config: IConfig = {
  posteIOBaseURL: "",
  posteIOUsername: "",
  posteIOPassword: "!",
  imapServer: "",
  domains: [],
  imapPort: "",
  smtpServer: "",
  smtpPort: "",
  port: ,
  mongoURI: "",
};
