@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	/* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #0c0e0c;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	font-family: "IBM Plex Sans";
}

body {
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

.main_container {
	display: flex;
	height: 100%;
	width: 100%;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	margin: 0;
	font-weight: normal;
}

.navbar_container {
	width: 100%;
	padding: 20px 22px;
	border-bottom: 1px solid #3a463e;
	background-color: #0c0e0c;
	z-index: 20;
	position: relative;
	display: flex;
}

.right_sidebar {
	margin-left: auto;
	display: flex;
}

.navbar_logo {
	font-weight: 500;
	font-size: 1.3rem;
}

.by_span {
	font-size: 0.9rem;
	background-color: rgb(11, 243, 3);
	color: black;
	margin-left: 5px;
	font-weight: 500;
	border-radius: 50px;
	padding: 2px 8px;
}

.footer {
	margin-top: auto;
	width: 100%;
	padding: 0px 0px;
}

.footer p {
	font-size: 0.8rem;
	color: rgb(138, 138, 138);
	text-decoration: underline;
	margin: 0;
}

.mailbox_container tbody tr:hover {
	background-color: rgba(34, 33, 33, 0.247);
	border-collapse: collapse;
}

.mailbox_container {
	width: 100%;
	height: fit-content;
	text-align: left;
	border-collapse: collapse;
}

.mailbox_container_row {
	width: 100%;
	align-items: left;
	border-collapse: collapse;
	cursor: pointer;
}

tbody tr td {
	padding: 10px 0px;
}

.mailbox_row_content {
	width: 75%;
	max-width: 0;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mailbox_row_content p {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.inbox_container {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.status_bar {
	width: 100%;
	padding: 5px 0px;
	background-color: #e09914c9;
	text-align: center;
	position: relative;
	z-index: 0;
	animation: fadeDownStatusBar 1s ease;
}

.status_bar_connected {
	width: 100%;
	overflow: none;
	padding: 5px 0px;
	background-color: #14e01ec9;
	text-align: center;
	z-index: 0;
	opacity: 0;
	top: -50px;
	position: absolute;
	animation: fadeUpStatusBar 1s ease;
}

.mailview_container {
	padding: 25px 45px;
	width: 100%;
	margin-bottom: 70px;
	overflow-y: scroll;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.flex {
	display: flex;
}

.mailview_inner {
	width: 100%;
	height: 100%;
}

.email_subject {
	font-size: 1.7rem;
	margin-top: 20px;
	font-weight: 600;
	font-family: "IBM Plex Sans";
}

.mailview_content {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	padding: 25px;
	border-radius: 8px;
	overflow-y: scroll;
	background-color: #131412;
	border: 1px solid #3a463e;
}

.sender h1 {
	font-size: 1.2rem;
	font-family: "IBM Plex Sans";
}

.sender p {
	margin-top: 7px;
	margin-bottom: 0px;
}

.sender_profile {
	height: 60px;
	width: 60px;
	background-color: rgb(218, 171, 85);
	border-radius: 50px;
	margin-right: 20px;
}

.mail_iframe {
	width: 100%;
	height: 70%;
	border: none;
	background-color: transparent;
	margin-top: 20px;
	border-radius: 7px;
}

.sidebar {
	position: relative;
	height: 100vh;
	padding: 20px;
	max-width: 280px;
	width: 280px;
	border-right: 1px solid #3a463e;
	display: flex;
	flex-direction: column;
}

.sidebar_links {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.sidebar_button {
	padding: 10px 3px;
	border: 0;
	font-size: 0.98rem;
	font-weight: 600;
	border-radius: 8px;
	text-align: left;
	background-color: transparent;
}

.mailbox_type_dropdown {
	padding: 10px 5px;
	border-bottom: 1px solid #3a463e;
}

.loading_bar {
	position: absolute;
	width: 0px;
	background-color: #14e01ec9;
	z-index: 100;
	height: 3px;
	top: 0px;
	left: 0px;
	/* transition: all 0.3s; */
}

.modal_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(11, 12, 11, 0.486);
	z-index: 100;
	display: flex;
}

.modal_inner {
	padding: 20px;
	margin: auto;
	width: 300px;
	height: 300px;
	background-color: #262726;
	border-radius: 9px;
}

.sign_up_model {
	width: 540px;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.create_tagline {
	margin-top: 5px;
	font-size: 0.9rem;
	font-weight: 600;
	color: rgb(189, 188, 188);
}

.icon {
	height: 25px;
	width: 25px;
}

.login_icon {
	height: 55px;
	width: 55px;
	background-color: rgb(39, 151, 90);
	border-radius: 50px;
	padding: 10px;
}

.form_input {
	width: 100%;
	margin-top: 10px;
	border-radius: 7px;
	border: none;
	padding: 10px;
	font-size: 1rem;
	background-color: #373837;
	border: solid 1px #595a59;
	transition: all 0.2s;
	margin: 0;
}

.form_input:focus {
	background-color: #4d4d4d;
	outline: none;
}

.input_container {
	text-align: left;
}

.input_container p {
	margin: 0;
	font-size: 0.9rem;
	margin-bottom: 3px;
	font-weight: 600;
}

.input_container:nth-child(n + 1) {
	margin-bottom: 10px;
}

.big_button {
	width: 100%;
	padding: 10px;
	margin-top: 15px;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	background-color: #27975a;
	cursor: pointer;
}

.error {
	text: #df5a5a;
}

.darken_bg {
	filter: brightness(0.85);
}

.notification_container {
	position: absolute;
	left: 0;
	top: 20px;
	transform: translate(-50%, 0px);
	left: 50%;
	z-index: 300;
	box-shadow: rgba(30, 30, 34, 0.2) 0px 7px 29px 0px;
}

.notification {
	padding: 15px 30px;
	background-color: #282928;
	border-radius: 50px;
}

@keyframes fadeDownStatusBar {
	0% {
		top: -50px;
	}
	100% {
		top: 0px;
	}
}

@keyframes fadeUpStatusBar {
	0% {
		opacity: 1;
		position: relative;
		top: 0px;
	}
	50% {
		opacity: 1;
		position: relative;
		top: 0px;
	}
	100% {
		top: -50px;
		position: relative;
	}
}
